.todoInput {
  display: flex;
  input {
    flex: 1;
    background-color: rgb(240, 214, 44);
    border: none;
    border-right: solid rgb(152, 161, 192) 2px;
    outline: none;
    padding: 10px;
    font-size: 14px;
    &::placeholder {
      color: white;
    }
  }
}

button {
  display: flex;
  align-items: center;
  background-color: rgb(240, 214, 44);
  border: none;
  padding-right: 20px;
  padding-left: 20px;
  color: white;
  cursor: pointer;
  transition: 0.1s background-color ease-in;
  &:hover {
    background-color: rgb(152, 161, 192);
  }
}